# Analyse Data with NumPy Part - 2

In [1]:
# Import necessary libraries

import numpy as np

In [2]:
#Import CSV file with genfromtxt function

array = np.genfromtxt(fname="C:/Users/HP/Documents/50DaysChallenge/DATA/names_age_sex_data.csv", delimiter=",",dtype="U7")
array

array([['Name', 'Sex', 'Age'],
       ['Grace', 'Male', '18'],
       ['Charlie', 'Female', '60'],
       ['Olivia', 'Female', '27'],
       ['Frank', 'Male', '55'],
       ['Charlie', 'Male', '53'],
       ['Olivia', 'Male', '39'],
       ['Mia', 'Female', '60'],
       ['Jos', 'Male', '56'],
       ['Peter', 'Male', '44'],
       ['Olivia', 'Female', '57'],
       ['Charlie', 'Female', '41'],
       ['David', 'Female', '39'],
       ['Kate', 'Female', '49'],
       ['Thomas', 'Female', '37'],
       ['Alice', 'Female', '63'],
       ['Rob', 'Male', '56'],
       ['Piper', 'Female', '96'],
       ['Kate', 'Female', '41'],
       ['Liam', 'Female', '19'],
       ['Quinn', 'Female', '34'],
       ['Charlie', 'Male', '54'],
       ['David', 'Male', '18'],
       ['Ryan', 'Female', '49'],
       ['Kate', 'Male', '19'],
       ['John', 'Male', '21'],
       ['kelly', 'Female', '21']], dtype='<U7')

In [3]:
# Transpose array

array_transpose = array.T
array_transpose

array([['Name', 'Grace', 'Charlie', 'Olivia', 'Frank', 'Charlie',
        'Olivia', 'Mia', 'Jos', 'Peter', 'Olivia', 'Charlie', 'David',
        'Kate', 'Thomas', 'Alice', 'Rob', 'Piper', 'Kate', 'Liam',
        'Quinn', 'Charlie', 'David', 'Ryan', 'Kate', 'John', 'kelly'],
       ['Sex', 'Male', 'Female', 'Female', 'Male', 'Male', 'Male',
        'Female', 'Male', 'Male', 'Female', 'Female', 'Female', 'Female',
        'Female', 'Female', 'Male', 'Female', 'Female', 'Female',
        'Female', 'Male', 'Male', 'Female', 'Male', 'Male', 'Female'],
       ['Age', '18', '60', '27', '55', '53', '39', '60', '56', '44',
        '57', '41', '39', '49', '37', '63', '56', '96', '41', '19', '34',
        '54', '18', '49', '19', '21', '21']], dtype='<U7')

In [4]:
# Array of different columns

names = array_transpose[0:1,1:]

age = array_transpose[2:,1:]

gender = array_transpose[1:2,1:]

age

array([['18', '60', '27', '55', '53', '39', '60', '56', '44', '57', '41',
        '39', '49', '37', '63', '56', '96', '41', '19', '34', '54', '18',
        '49', '19', '21', '21']], dtype='<U7')

In [5]:
# Names of people who 56 years of age

index_56_years = np.where(age == "56")

names_56_years = names[index_56_years]

print('The names of people who 56 years of age:', names_56_years)

The names of people who 56 years of age: ['Jos' 'Rob']

In [6]:
names_56_years

array(['Jos', 'Rob'], dtype='<U7')

In [7]:
# Number of people who are 44 or under

# Convert age to int 
age = age.astype(int)

fortyfour_or_under = np.where(age <= 44)

names_fortyfour_or_under = names[fortyfour_or_under]
number_of_ = np.shape(names_fortyfour_or_under)

print('Number of people who are 44 years or under is',number_of_[0])

Number of people who are 44 years or under is 14

In [8]:
# Males in dataset

index_males = np.where(gender == 'Male')

male = names[index_males]
print(male)

['Grace' 'Frank' 'Charlie' 'Olivia' 'Jos' 'Peter' 'Rob' 'Charlie' 'David'
 'Kate' 'John']

In [9]:
# Average age of female

index_females = np.where(gender == 'Female')

average_age_female = age[index_females].mean()

print(f'The average age of female in the table is {average_age_female}')

The average age of female in the table is 46.2

In [10]:
# Average age of people named Olivia and Kate in the table

kate_age = age[names == "Kate"]
olivia_age = age[names == "Olivia"]

average_age_kate_olivia = np.array([kate_age,olivia_age]).mean()

print(f'The average age of people named Olivia and Kate in the table is {average_age_kate_olivia:.2f}')

The average age of people named Olivia and Kate in the table is 38.67