#  Pandas Series Analysis

In [1]:
# Import necessary libraries

import pandas as pd
import numpy as np

In [2]:
list1 = ["wood", "red", "red", "white","blue", "red"]

# Create pandas Series from list above
ser = pd.Series(list1)
ser

0     wood
1      red
2      red
3    white
4     blue
5      red
dtype: object

In [3]:
# Count number of each item in the series

ser.value_counts()

red      3
wood     1
white    1
blue     1
Name: count, dtype: int64

In [4]:
# Check if the series contains red, white, and black

colors = ["red", "white", "black"]

colors_in_series = ser.isin(colors)
colors_in_series

0    False
1     True
2     True
3     True
4    False
5     True
dtype: bool

In [5]:
# Unique values in the series

ser.unique()

array(['wood', 'red', 'white', 'blue'], dtype=object)

In [6]:
# Update the series
colors_update = {0:"green",2:"orange"}

ser.update(colors_update)
ser

0     green
1       red
2    orange
3     white
4      blue
5       red
dtype: object

In [7]:
# Shape of the updated series

ser.shape

(6,)

In [8]:
# Dimensions of the updated series
ser.ndim

1

In [9]:
# Convert the series to DataFrame

df = ser.to_frame("Colors")
df

   Colors
0   green
1     red
2  orange
3   white
4    blue
5     red

In [10]:
# Shape of the DataFrame
df.shape

(6, 1)

In [11]:
# Dimensions of the DataFrame
df.ndim

2