# Creating and Modifying DataFrames

In [1]:
# Import necessary libraries

import pandas as pd
import numpy as np

In [2]:
list1 = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

# Create DataFrame from list1

df = pd.DataFrame(list1, columns = ["A","B","C"])
df

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [3]:
# Access variable 9

df.at[2,"C"]

9

In [4]:
# Change 9 t0 10

df.at[2,"C"] = 10
df

   A  B   C
0  1  2   3
1  4  5   6
2  7  8  10

In [5]:
names = ["John","Mary","Peter"]
age = [27,34,47]
sex = ["male","female","female"]

# Create data frame with lists above

df = pd.DataFrame({"Names":names,"Age":age,"Sex":sex})
df

   Names  Age     Sex
0   John   27    male
1   Mary   34  female
2  Peter   47  female

In [6]:
# Access age of John

john_age = df.loc[0,"Age"]
print(f'The age of John is {john_age}')

The age of John is 27

In [7]:
# Change sex of Peter to male

df.loc[2,"Sex"] = "male"
df

   Names  Age     Sex
0   John   27    male
1   Mary   34  female
2  Peter   47    male

In [8]:
# Male subset of df

df_male = df[df["Sex"] == "male"]
df_male

   Names  Age   Sex
0   John   27  male
2  Peter   47  male

In [9]:
# Name and age of oldest male

detail_oldest_male = df_male.sort_values(by="Age",axis=0,ascending=False).max()
# detail_oldest_male

print(f'The age of oldest male is {detail_oldest_male["Names"]} and is {detail_oldest_male["Age"]} years old.')

The age of oldest male is Peter and is 47 years old.